<!DOCTYPE html>
<html lang="en" style="background-color: black;">

<body>
    <label style="color: aliceblue;">Account <a href="https://nft-devnet.xrpl.org/accounts/{{info['address']}}">{{info['address']}}</a> owns {{info['nft_count']}} and has minted {{info['minted']}} nfts. It currently has a balance of {{info['balance_xrp']}}XRP</label>

    {% for n in nfts %}
    <div class="nft_listing" style="background-color: rgb(173, 211, 255) ; padding: 10px; border: 1px solid rgb(63, 150, 250); margin: 10px; border-radius: 10px;">
        <p>Token {{n["id"]}} was issued by <a href="https://nft-devnet.xrpl.org/accounts/{{n['issuer']}}">{{n["issuer"]}}</a> and points to <a href="{{n['uri']}}">{{n["uri"]}}</a>. It has a serial of {{n['serial']}}.</p>
        <p>The creator gets {{ n["fee"] / 100}}% of any future sales.</p>
    </div>
    {% endfor %}

</body>
</html>

